/AllTests.class
/ArrowMobileEntityTest.class
/BoulderMobileEntityTest.class
/CoordTest.class
/DoorTileTest.class
/EnemyMobileEntityTest.class
/EntityTest.class
/ExitTileTest.class
/HoverPotionTest.class
/InvincibilityEntityTest.class
/MobileEntityTest.class
/TreasureEntityTest.class
/WallTileTest.class
